
@import "mixins"

//Variables


//Padding
$so-container-padding-top: 100px
$so-container-padding-left: 300px

$so-main-color: rgba(85, 62, 106, 1)

// Nav
$so-nav-height: 100px

//Side nav
$so-side-nav-small-width: 60px
$so-side-nav-small-button-height: $so-side-nav-small-width
$so-container-padding-left-small: $so-side-nav-small-width

.so-nav
  position: fixed
  top: 0
  width: 100%
  height: $so-nav-height

  background: $so-main-color

  .brand
    float: left
    height: 100%
    padding: 20px

    //For some reason the padding increased the div height
    box-sizing: border-box

    img
      height: 100%

.so-side-nav
  position: fixed
  top: 100px
  left: 0
  bottom: 0
  width: 300px

  padding-top: 30px

  background: #222
  color: #93959E

  z-index: 1

  ul

    list-style-type: none
    padding-left: 0

    a
      text-decoration: none


    li
      padding: 16px 30px 16px 30px
      text-transform: uppercase
      letter-spacing: 3px
      font-weight: 400
      font-size: 9pt
      transition: 0.15s
      color: #93959E

      &:hover
        background: #2a2a2a

      i
        padding-right: 10px




  .so-side-nav-logo

    width: 100%
    margin-bottom: 20px

    img
      display: block
      margin: 0 auto
      width: 30%

  .active
    background: linear-gradient(to bottom, $so-main-color 0%,darken($so-main-color, 10%) 100%)
    color: #fff

    &:hover
      background: linear-gradient(to bottom, lighten($so-main-color, 5%) 0%,darken($so-main-color, 5%) 100%)

.so-side-nav-small
  width: $so-side-nav-small-width
  border-right: 1px solid #93959E
  padding-top: 0

  button
    //Fixed style
    width: 100%
    border: 0
    border-bottom: 1px solid #93959E
    background: 0
    transition: 0.15s

    //Variable style
    height: $so-side-nav-small-button-height
    font-size: 20px

    &:hover
      background: #444

    &:focus
      outline: none
      background: #333

  .so-side-nav-small-slider
    position: fixed
    top: $so-nav-height
    left: $so-side-nav-small-width
    bottom: 0
    width: 300px
    background: #333
    overflow-y: scroll

    @include trans(all, 500ms)

    .so-side-nav-small-slider-header
      width: 100%
      height: 40px
      background: rgba(118,72,160,0.2)

      line-height: 40px
      font-size: 18px

    .so-side-nav-small-slider-container
      width: 300px

      .container-header
        width: 100%
        height: 30px
        line-height: 30px
        font-size: 18px
        margin-top: 20px
        letter-spacing: 3px

        padding: 0 15px

        border-bottom: 1px solid #555

      .activeLayer
        background: #3a3a3a

      .container-field
        position: relative
        width: 100%
        height: 40px
        padding: 0 15px

        cursor: pointer
        transition: 0.15s

        //Text
        line-height: 40px
        color: #eee
        font-size: 16px

        border-bottom: 1px solid #555

        &:hover
          background: #3a3a3a

        .container-field-icon
          position: absolute
          top: 0
          right: 15px

      .container-sub-fields
        width: 100%
        background: #222

        max-height: 0

        overflow: hidden

        .container-sub-field
          width: 100%
          height: 30px
          padding: 0 10px

          cursor: pointer

          line-height: 30px
          color: #eee

          &:hover
            background: #2a2a2a

        @include trans(all, 500ms)

      .container-sub-fields-active
        max-height: 400px


      select
        width: 100%


.has-nav
  padding-top: $so-container-padding-top

.has-side-nav
  padding-left: $so-container-padding-left

.has-side-nav-small
  padding-left: $so-container-padding-left-small

.has-extended-side-nav-small
  padding-left: $so-container-padding-left-small + 300px
