<nav class="so-side-nav">
    <div class="so-side-nav-logo"><img src="/images/socketGIS.png" alt=""></div>
    <ul>
        <a href="#"><li><i class = "glyphicon glyphicon-plus"></i>Lag en ny fil</li></a>
        <a href="#"><li class = "active"><i class = "glyphicon glyphicon-folder-open"></i>Mine filer</li></a>
        <a href="#"><li><i class = "glyphicon glyphicon-user"></i>Delt med meg</li></a>
        <a href="#"><li><i class = "glyphicon glyphicon-time"></i>Nylige</li></a>
        <a href="#"><li><i class = "glyphicon glyphicon-star-empty"></i>Favoritter</li></a>
    </ul>
</nav>
<div class="so-file-container has-side-nav" ng-controller="fileController">
    <div class="so-file">
        <div class="so-file-picture" style="background-image: url('/images/map.png');"></div>
        <div class="so-file-info">
            <h3 class="so-thin">File title</h3>
            <h6 class="so-thin">Created at: 27.01.2016</h6>
        </div>
    </div>
    <div class="so-file">
        <div class="so-file-picture" style="background-image: url('/images/map.png');"></div>
        <div class="so-file-info">
            <h3 class="so-thin">File title</h3>
            <h6 class="so-thin">Created at: 27.01.2016</h6>
        </div>
    </div>
    <div class="so-file">
        <div class="so-file-picture" style="background-image: url('/images/map.png');"></div>
        <div class="so-file-info">
            <h3 class="so-thin">File title</h3>
            <h6 class="so-thin">Created at: 27.01.2016</h6>
        </div>
    </div>
    <div class="so-file">
        <div class="so-file-picture" style="background-image: url('/images/map.png');"></div>
        <div class="so-file-info">
            <h3 class="so-thin">File title</h3>
            <h6 class="so-thin">Created at: 27.01.2016</h6>
        </div>
    </div>
    <div class="so-file">
        <div class="so-file-picture" style="background-image: url('/images/map.png');"></div>
        <div class="so-file-info">
            <h3 class="so-thin">File title</h3>
            <h6 class="so-thin">Created at: 27.01.2016</h6>
        </div>
    </div>
    <div class="so-file">
        <div class="so-file-picture" style="background-image: url('/images/map.png');"></div>
        <div class="so-file-info">
            <h3 class="so-thin">File title</h3>
            <h6 class="so-thin">Created at: 27.01.2016</h6>
        </div>
    </div>
    <div class="so-file">
        <div class="so-file-picture" style="background-image: url('/images/map.png');"></div>
        <div class="so-file-info">
            <h3 class="so-thin">File title</h3>
            <h6 class="so-thin">Created at: 27.01.2016</h6>
        </div>
    </div>


</div>