<nav class="so-side-nav so-side-nav-small">
    <button><i class = "glyphicon glyphicon-plus"></i></button>
    <button><i class = "glyphicon glyphicon-comment"></i></button>
    <button><i class = "glyphicon glyphicon-cog"></i></button>
</nav>
<div class="has-nav has-side-nav-small so-container">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <h1>
            Logg inn
        </h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="login()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
            </div>
            <div>
                <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
            </div>
        </form>
    </div>
</div>