<div firefly class="so-container login-container" id="testId">
    <div class="so-login-logo">
        <img src="/images/socketGIS.png" alt="">
    </div>
    <div class="login-box">
        <h1 class="so-very-thin so-upper so-white">Logg inn</h1>
        <form ng-submit="login()">
            <div class="login-field">
                <span class="fa fa-user"></span>
                <input type="text" class="form-control" name="username" placeholder="Brukernavn" ng-model="loginForm.username" required>
            </div>
            <div class="login-field">
                <span class="fa fa-lock"></span>
                <input type="password" class="form-control" name="password" placeholder="Passord" ng-model="loginForm.password" required>
            </div>
            <div class="login-field">
                <button type="submit" ng-disabled="disabled">Logg inn</button>
            </div>
            <h2 class="so-text-background"><span>eller</span></h2>
            <div class="login-field">
                <a ng-href="#/register"><button>Registrer deg her</button></a>
            </div>
        </form>
    </div>

    <!--<div class="col-sm-4 col-sm-offset-4 text-center">
        <h1>
            Logg inn
        </h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="login()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
            </div>
            <div>
                <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
            </div>
            <small><a ng-href="#/register">Registrer deg her</a></small>
        </form>
    </div>-->
</div>