<!--<div id="sidebar" class="sidebar collapsed">
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
            <li><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
            <h1 class="sidebar-header">
                Verktøy
                <div class="sidebar-close"><i class="fa fa-caret-left"></i></div>
            </h1>
            <div id="tools">
                <form class="form-inline">
                    <label>Geometry type &nbsp;</label>
                    <select id="type">
                        <option value="None">None</option>
                        <option value="Point">Point</option>
                        <option value="LineString">LineString</option>
                        <option value="Polygon">Polygon</option>
                        <option value="Circle">Circle</option>
                        <option value="Square">Square</option>
                        <option value="Box">Box</option>
                    </select>
                </form>
                <div>
                    <button id="bufferButton">Buffer</button>
                    <input type="number" id="bufferDistance">
                </div>
                <div>
                    <p>Slett valgte element</p>
                    <button id="deleteSelectedButton">Slett</button>
                </div>
            </div>
        </div>

        <div class="sidebar-pane" id="profile">
            <h1 class="sidebar-header">Profile<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
        </div>

        <div class="sidebar-pane" id="messages">
            <h1 class="sidebar-header">Messages<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
            <ul id="chat_messages"></ul>
            <form id="chat-form" action="">
                <input id="m" autocomplete="off" /><button>Send</button>
            </form>
        </div>

        <div class="sidebar-pane" id="settings">
            <h1 class="sidebar-header">Settings<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
        </div>
    </div>
</div>-->
<nav class="so-side-nav so-side-nav-small">
    <button ng-click="toggleSlider()"><i class = "fa fa-home"></i></button>
    <button ng-click="toggleSlider()"><i class = "fa fa-comment"></i></button>
    <button ng-click="toggleSlider()"><i class = "fa fa-cog"></i></button>
    <div class="so-side-nav-small-slider slide-right" ng-show="show.slider">
        <div class="so-side-nav-small-slider-header so-white so-center">H j e m</div>
        <div class="so-side-nav-small-slider-container">
            <div class="container-header so-very-thin so-upper">Interaction types</div>
            <div class="container-field" ng-click="toggle('interactionTypes')">
                {{interactionType}}
                <div class="container-field-icon">
                    <span class="fa fa-chevron-right" ng-show="!show.interactionTypes"></span>
                    <span class="fa fa-chevron-down" ng-show="show.interactionTypes"></span>
                </div>
            </div>
            <div class="container-sub-fields" ng-class="{'container-sub-fields-active': show.interactionTypes}">
                <div class="container-sub-field" ng-click="addInteraction(type)" ng-repeat="type in interactionTypes">{{type}}</div>
            </div>
            <div class="container-field" ng-click="deleteSelected()">Slett valgte objekter</div>
            <div class="container-header so-very-thin so-upper">Lag</div>
            <div class="container-field" ng-click="toggle('addLayer')" ng-hide="show.addLayer">Legg til lag</div>
            <div class="container-input" ng-show="show.addLayer">
                <input class="form-control" type="text" ng-model="newLayerName" placeholder="Navn">
                <button class="btn-default" ng-click="addLayer()">Legg til</button>
            </div>
            <div class="container-field" ng-repeat="lay in activeLayers">
                {{ lay.name }}
            </div>
            <div class="container-header so-very-thin so-upper">Annet</div>
            <div ng-controller="logoutController"><div class="container-field" ng-click='logout()'>Logg ut</div></div>
        </div>
    </div>
</nav>
<div class="has-nav has-side-nav-small so-container" ng-class="{'has-extended-side-nav-small':show.slider}">
    <div id="map" ngf-drop ng-model="file" ngf-multiple="false" ngf-drag-over-class="'dragover'"></div>
</div>