<nav class="so-side-nav so-side-nav-small">
    <button ng-click="toggleSlider()"><i class = "fa fa-home"></i></button>
    <button ng-click="toggleExtra()"><i class = "fa fa-cog"></i></button>
    <div class="so-side-nav-small-slider slide-right" ng-show="show.slider">
        <div class="so-side-nav-small-slider-header so-white so-center">H j e m</div>
        <div class="so-side-nav-small-slider-container">
            <div class="container-field" ng-click="deleteSelectedLayer()">Slett valgt lag</div>
            <div class="container-field" ng-click="putOnTopSelected()">Legg øverst</div>
            <div class="container-header so-very-thin so-upper">Lag</div>
            <div class="container-field" data-toggle="modal" data-target="#geoJsonModal">Legg til lag</div>
            <div class="container-field" ng-repeat="lay in activeLayers" ng-class="{'activeLayer': lay.isActive}" ng-click="selectLayer(lay)">
                {{ lay.name }}
            </div>

            <div class="container-header so-very-thin so-upper">Operasjoner</div>
            <div class="container-field" ng-click="deleteSelectedFeature()">Slett valgt element</div>
            <div class="container-field" data-toggle="modal" data-target="#bufferModal">Buffer</div>
            <div class="container-field" ng-click="intersectSelected()">Intersection</div>
            <div class="container-field" ng-click="differenceSelected()">Difference</div>
            <div class="container-field" ng-click="unionSelected()">Union</div>
            <div class="container-field" ng-click="tinSelected()">TIN (Punktlag)</div>
            <div class="container-field" ng-click="explodeSelected()">Eksploder lag</div>

        </div>
    </div>
    <div class="so-side-nav-small-slider slide-right" ng-show="show.extra">
        <div class="so-side-nav-small-slider-header so-white so-center">A n n e t</div>
        <div class="so-side-nav-small-slider-container">
            <div class="container-header so-very-thin so-upper">Annet</div>
            <div class="container-field" data-toggle="modal" data-target="#shareModal">Del fil</div>
            <div class="container-field" ng-click="deleteFile()">Slett fil</div>
            <div ng-controller="logoutController"><div class="container-field" ng-click='logout()'>Logg ut</div></div>
        </div>
    </div>
</nav>
<div class="has-nav has-side-nav-small so-container" ng-class="{'has-extended-side-nav-small':show.slider || show.extra}">
    <leaflet controls="controls" layers="layers" center="center" defaults="defaults" ngf-drop ng-model="file" ngf-multiple="false"></leaflet>
    <div class="chat-box" ng-class="{'chat-box-open': show.chatWindow}">
        <div class="chat-header" ng-click="toggle('chatWindow')">Users (2)</div>
        <div class="chat-window">
            <div class="message-container" id="autoscroll">
                <div class="test" ng-repeat="msg in chatMessages track by $index">
                    <div class="message" ng-class="{'one': msg.is_owner, 'two': !msg.is_owner}">
                        {{ msg.message }}
                        <small class="message-name" ng-if="!msg.is_owner">{{msg.owner}}</small>
                    </div>
                </div>
            </div>
            <textarea ng-enter="pushMessage()" ng-model="newMessage" placeholder="Type message ..."></textarea>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bufferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bufferModalLabel">Buffer</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" ng-model="bufferName" placeholder="Lagnavn">
                <input type="number" class="form-control" ng-model="bufferDistance" placeholder="Avstand">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="bufferSelected()">Buffer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="geoJsonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="geoJsonModalLabel">Legg til geoJSON</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" ng-model="newGeoJsonLayerName" placeholder="Lagnavn">
                <textarea name="geojson" id="geojson" cols="60" rows="10" ng-model="newGeoJsonLayer"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addGeoJsonLayer()">Legg til som lag</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="shareModalLabel">Del filen</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" ng-model="shareUsername" placeholder="Brukernavn">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="shareFile()">Del fil</button>
            </div>
        </div>
    </div>
</div>
