<nav class="so-side-nav so-side-nav-small">
    <button ng-click="toggleSlider()"><i class = "fa fa-home"></i></button>
    <button ng-click="toggleSlider()"><i class = "fa fa-comment"></i></button>
    <button ng-click="toggleSlider()"><i class = "fa fa-cog"></i></button>
    <div class="so-side-nav-small-slider slide-right" ng-show="show.slider">
        <div class="so-side-nav-small-slider-header so-white so-center">H j e m</div>
        <div class="so-side-nav-small-slider-container">
            <div class="container-field" ng-click="deleteSelected()">Slett valgte objekter</div>
            <div class="container-header so-very-thin so-upper">Lag</div>
            <div class="container-field" ng-click="toggle('addLayer')" ng-hide="show.addLayer">Legg til lag</div>
            <div class="container-input" ng-show="show.addLayer">
                <input class="form-control" type="text" ng-model="newLayerName" placeholder="Navn">
                <button class="btn-default" ng-click="addLayer()">Legg til</button>
            </div>
            <div class="container-field" ng-repeat="lay in activeLayers">
                {{ lay.name }}
            </div>
            <div class="container-header so-very-thin so-upper">Annet</div>
            <div ng-controller="logoutController"><div class="container-field" ng-click='logout()'>Logg ut</div></div>
        </div>
    </div>
</nav>
<div class="has-nav has-side-nav-small so-container" ng-class="{'has-extended-side-nav-small':show.slider}">
    <leaflet controls="controls" layers="layers" center="center" defaults="defaults" ngf-drop ng-model="file" ngf-multiple="false"></leaflet>
    <div class="chat-box" ng-class="{'chat-box-open': show.chatWindow}">
        <div class="chat-header" ng-click="toggle('chatWindow')">Users (2)</div>
        <div class="chat-window">
            <div class="message-container" id="autoscroll">
                <div class="test" ng-repeat="msg in chatMessages track by $index">
                    <div class="message" ng-class="{'one': msg.is_owner, 'two': !msg.is_owner}">
                        {{ msg.message }}
                        <small class="message-name" ng-if="!msg.is_owner">{{msg.owner}}</small>
                    </div>
                </div>
            </div>
            <textarea ng-enter="pushMessage()" ng-model="newMessage" placeholder="Type message ..."></textarea>
        </div>
    </div>
</div>