<div firefly class="so-container login-container" id="testId">
    <div class="so-login-logo">
        <img src="/images/socketGIS.png" alt="">
    </div>
    <div class="login-box">
        <h1 class="so-very-thin so-upper so-white">Registrer deg</h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form ng-submit="register()">
            <div class="login-field">
                <span class="fa fa-user"></span>
                <input type="text" class="form-control" name="username" placeholder="Brukernavn" ng-model="registerForm.username" required>
            </div>
            <div class="login-field">
                <span class="fa fa-lock"></span>
                <input type="password" class="form-control" name="password" placeholder="Passord" ng-model="registerForm.password" required>
            </div>
            <div class="login-field">
                <button type="submit" ng-disabled="disabled">Registrer</button>
            </div>
        </form>
    </div>
</div>
